@charset"utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
img{
	border:none;
}
body{
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.bgBox{
    width:1225px;
    height:640px;
    background-image: url(../img/logBg.png);
    margin:110px auto 70px;
    position:relative;
}
.loginBox {
    width: 360px;
    height:460px;
    position: absolute;
    left: 35%;
    top: 15%;
    border-radius: 8px;
    background-color: white;
}
.login-top {
    font-size: 24px;
    margin-top: 45px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #333333;
    margin-bottom: 40px;
}
.login-center {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom:18px;
}
.login-center-img img{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.login-center-input {
    float: left;
    width: 230px;
    margin-left: 15px;
    height: 30px;
    position: relative;
}
.login-center-input input {
    z-index: 2;
    transition: all 0.5s;
    padding-left: 10px;
    color: #333333;
    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    outline: none;
    position: relative;
}
.login-center-input-text {
    background: white;
    padding: 0 5px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 14px;
    left: 5px;
    color: dodgerblue;
    line-height: 20px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.login-button {
    cursor: pointer;
    width: 275px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
}
.zhuceBox{
    width:270px;
    height:25px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:12px;
}
.loginFooter{
    width:275px;
    height:80px;
    margin:20px auto;
    border-top:0.5px solid rgb(211, 208, 208);
}
.loginFooter .yhsd span {
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    padding: 0 6px;
    left: 50%;
    margin-left: -42px;
    background: #fff;
    color: rgb(143, 141, 141);
    font-size:12px;
}
.loginFooter .icon{
    width:40px;
    height:20px;
    background-color:rgb(143, 138, 138);
    border-radius: 5px;
    font-size:10px;
    color:white;
    text-align: center;
    line-height: 20px;
    display: none;
}
.loginFooter .iconBox{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20px;
    position: absolute;
    left: 43px;
    bottom: 94px;
}
.loginFooter ul {
    padding-left: 0;
    list-style: none;
    width: 280px;
    margin: 40px auto 0;
}
.loginFooter .iconfont{
    font-size:30px;
    color:rgb(197, 194, 194);  
}
.loginFooter li {
    display: inline-block;
    padding: 0 5px;
    font-size: 34px;
    position: relative;
    cursor: pointer; 
}
.iconBox .iconj{
    width:0;
    height:0;
    border:5px solid transparent;
    border-top-color:rgb(143, 138, 138);
    display: none;
}
.iconBox .weixinj{
    position: absolute;
    left: 20px;
    bottom: -10px;
}
.iconBox .QQj{
    position: absolute;
    left: 68px;
    bottom: -10px;
}
.iconBox .wangyij{
    position: absolute;
    left: 118px;
    bottom: -10px;
}
.iconBox .doubanj{
    position: absolute;
    left: 164px;
    bottom: -10px;
}
.iconBox .weiboj{
    position: absolute;
    left: 214px;
    bottom: -10px;
}
.iconBox .renrenwangj{
    position: absolute;
    left: 260px;
    bottom: -10px;
}
.loginFooter .icon-weixin:hover{
    color:rgb(18, 143, 18);
}
.loginFooter .icon-QQ:hover{
    color:rgb(240, 35, 35);
}
.loginFooter .icon-wangyi1:hover{
    color:rgb(59, 35, 168);
}
.loginFooter .icon-douban1:hover{
    color:rgb(16, 172, 199);
}
.loginFooter .icon-weibo1:hover{
    color:rgb(118, 207, 16);
}
.loginFooter .icon-icon1:hover{
    color:rgb(180, 30, 194);
}
/* footer */
.footermain{
    width: 100%;
}
.footer{
    width:1205px;
    margin: 0 auto;
}
.footerTop {
    width:1205px;
    height:50px; 
    margin-top:30px;
}
.footerNav{
    width:375px;
    height:65px;
    display: flex;
    justify-content: space-between;
}
.footerIcon{
    float:right;
    margin-top:-42px;
}
.footerIcon .iconfont{
    padding-left:15px;
    color:#757070;
}
.footerIcon a:hover{
    text-decoration:none;
}
.footerNav a{
    font-size:12px;
    color:#333333;
    line-height: 65px;
    text-align: center;
}
.footerNav a:hover{
    text-decoration:none;
    color: black;
}
.footerP{
    font-size:10px;
    color:#adadad;
}
/* .customer */
.customer{
    width:50px;
    height:170px;
    position:fixed;
    right:80px;
    bottom:100px;
}
.customer .ma1 img{
    padding:0 0 10px 0; 
}
.ma2 img{
    position:fixed;
    right:80px;
    bottom:220px;
    display: none;
}
.qq:hover .ma2 img{
    display: block;
}
.ma3 img{
    position:fixed;
    right:80px;
    bottom:160px;
    display: none;
}
.weixin:hover .ma3 img{
    display: block;
}
.ma img{
    width:80px; 
    height:80px;
    position:fixed;
    right:170px;
    bottom:130px; 
}
.ma{
    display:none; 
} 