@charset"utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
img{
	border:none;
}
body{
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    cursor: pointer;
}

// mainbox
.mainbox{
    width:1205px;
    height:700px;
    margin:130px auto 0;
    .bgBox{
        font-size: 30px;
        font-weight: 100;
        margin-top:130px;
        margin-bottom:30px;
    }
}
.mainbox .box{
    width:100%;
    height:580px;
    margin:0 auto;
    border:0.7px solid rgb(212, 206, 206);
    border-radius: 5px;
    .txt{
        width:100%;
        height:55px;
        margin:0 auto;
        margin-bottom: 10px;
        border-bottom:0.7px solid rgb(212, 206, 206);
        font-size: 16px;
        color:rgb(151, 144, 144);
        line-height: 55px;
        display: flex;
        align-items: center;
        justify-content: left;
        .square{
            width:18px;
            height:18px;
            border:1px solid rgb(182, 177, 177);
            border-radius: 2px;
            margin-left:30px;

        }
        .leftBox{
            color:rgb(133, 127, 127);
            width:150px;
            height:18px;
            font-size:14px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left:30px;
        }
        .rightBox{
            color:rgb(133, 127, 127);
            width:400px;
            height:18px;
            font-size:14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left:450px;
        }
    }
    .btn{
        width:100%;
        height:525px;
        margin:0 auto;
        border-top:0.7px solid rgb(212, 206, 206);
        position: relative;
        .iconfont{
            font-size: 320px;
            color:rgb(218, 212, 212);
            position: absolute;
            left:36%;
            top:5%;
        }
        div{ 
            color:rgb(218, 212, 212);
            position: absolute;
            left:36%;
            top:63%; 
        }
        a{
            position: absolute;
            left:47%;
            top:70%;
            input{
                width:80px;
                height:20px;
                outline: none;
                background-color: rgb(83, 133, 209);
                border:none;
                border-radius: 5px;
                text-align: center;
                color: white;
                cursor: pointer;
            }
        }
    }
}
/* footer */
.footermain{
    width: 100%;
}
.footer{
    width:1205px;
    margin: 0 auto;
}
.footerTop {
    width:1205px;
    height:50px; 
    margin-top:30px;
}
.footerNav{
    width:375px;
    height:65px;
    display: flex;
    justify-content: space-between;
}
.footerIcon{
    float:right;
    margin-top:-42px;
    .iconfont{
    padding-left:15px;
    color:#757070;
    }
} 
.footerIcon a:hover{
    text-decoration:none;
}
.footerNav a{
    font-size:12px;
    color:#333333;
    line-height: 65px;
    text-align: center;
}
.footerNav a:hover{
    text-decoration:none;
    color: black;
}
.footerP{
    font-size:10px;
    color:#adadad;
}
/* .customer */
.customer{
    width:50px;
    height:170px;
    position:fixed;
    right:80px;
    bottom:100px;
}
.customer .ma1 img{
    padding:0 0 10px 0; 
}
.ma2 img{
    position:fixed;
    right:80px;
    bottom:220px;
    display: none;
}
.qq:hover .ma2 img{
    display: block;
}
.ma3 img{
    position:fixed;
    right:80px;
    bottom:160px;
    display: none;
}
.weixin:hover .ma3 img{
    display: block;
}
.ma img{
    width:80px; 
    height:80px;
    position:fixed;
    right:170px;
    bottom:130px; 
}
.ma{
    display:none; 
} 
